<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inside chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col s3 card green">
        <div class="collection">
            {%for a in users%}
            <div>
            <a class="collection-item" href="{{actual}}/{{a.username}}">
                <span  class="badge"></span>{{a.username}}
            </a>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="col s1"></div>
    <div class="col s3 card green">
        <div class="collection">
            {%for a in mensajes_recibidos%}
            <div>
            <a class="collection-item">
                <span class="badge"></span>{{a.content}}
            </a>

            </div>
            {%endfor%}
        </div>
    </div>
    <div class="col s3 card red">
        <div class="collection">
            {%for a in mensajes_enviados%}
            <div>
            <a class="collection-item">
                <span class="badge"></span>{{a.content}}
            </a>

            </div>
            {%endfor%}
        </div>
    </div>
    </div>



</body>
</html>